/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 0;
}

h1 {
  margin: 0;
  flex: 1 1 auto;
  font-size: 1.8em;
}

#top {
  background: lightgray;
  margin: 0;
  padding: 0.2em 0.8em;
  display: flex;
}

#bar {
  background: #e0e0e0;
  padding: 0.1em 0.5em;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#bar span {
  font: -moz-list;
  color: #313739;
  padding: 0 .7em 0 .3em;
}

image {
  width: 16px;
  min-width: 16px; /* Somehow this is required in the cases where text overflows in the title */
  height: 16px;
  margin-right: .2em;
}

#stats {
  white-space: nowrap;
}

li > div {
  display: flex;
}

li {
  margin: .3em 0;
}

ul.host, ul.address {
  list-style-type: none;
  -moz-padding-start: 20px;
}

ul.host > li:nth-of-type(2n), ul.address > li:nth-of-type(2n),
ul.subgroup > li:nth-of-type(2n+1) {
  background-image: linear-gradient(to right, rgba(0,0,0,0), #e0e0e0);
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.extra {
  margin-left: 16px;
  padding-left: .2em;
  font-size: .8em;
  display: block;
}

.actions * {
  padding-left: .3em;
}

li.schemes span {
  margin-right: 1em;
}

.closed > ul {
  display: none;
}

.group, .subgroup {
  /* Only Firefox >= 39 supports list-style: <string>, so cheat with ::before */
  list-style: none;
}
.group::before {
  position: absolute;
  margin-left: -1em;
}

.group.closed::before {
  content: "▷ "
}

.group.closed:hover::before {
  content: "▶ "
}

.group::before {
  content: "▽ "
}

.group:hover::before {
  content: "▼ "
}
